@model IEnumerable<BankEntity.Credential>

@{
    ViewData["Title"] = "Credentials";
     Layout = "_Layout";
}
<section id ="Cred">

<h4 style="color:lightgreen; text-align:center; font-weight:bold;">Sucessfully Registred! </h4>
<h3 style="color:Red; text-align:center; font-weight:bold;">Your Credentials</h3>


 <table class="table table-sm table-success">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CRN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccNo)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.IbPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchCode)
            </th>
            <th></th>
        </tr>
    </thead>
 
    <tbody>
@foreach (var item in Model) {
       <tr class="table-sm table-success">
            <td>
                @Html.DisplayFor(modelItem => item.CRN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccNo)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.IbPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchCode)
            </td>
           
        </tr>
        
}
    </tbody>
</table>
</section>
